node_modules/
build/
.DS_Store

bower_components/*
!bower_components/jquery/
!bower_components/jasmine-jquery/

bower_components/jquery/*
!bower_components/jquery/jquery.js

bower_components/jasmine-jquery/*
!bower_components/jasmine-jquery/lib/
